{% extends "base.html" %}

{% block contenido %}
    <h1>Listado de productos</h1>
    <P>
        <a href={% url "agregar_producto" %}>Agregar producto</a>
    </P>
    {% if productos %}
    <ul>
        {% for producto in productos %}
        <li>
            {{producto}} 
            | <a href={% url "detalle_producto" producto.id %}>Ver mas</a>
            | <a href={% url "modificar_producto" producto.id %}>Modificar</a>
            | <a href={% url "eliminar_producto" producto.id %}>Eliminar</a>
        </li>
        {% endfor %}
    </ul>
    {% else %}
    <p>No hay datos para mostrar</p>
    {% endif %}  
{% endblock contenido %}  
