{% extends "base.html" %}

{% block contenido %}
    <h1>Mi perfil</h1>
    <p>Nombre de usuario: {{ usuario.username }}</p>
    <p>Nombre: {{ usuario.first_name }}</p>
    <p>Apellido: {{ usuario.last_name }}</p>
    <p>Email: {{ usuario.email }}</p>
    <h2>Un poco mas sobre mi</h2>
    {% if info_extra %}        
        <p>Deportes: {{ info_extra.sports|default:"No especificado" }}</p>
        <p>Hobbies: {{ info_extra.hobbies|default:"No especificado" }}</p>
    {% else %}
        <p>Sin información adicional al perfil</p>
    {% endif %}

    <a href="{% url 'editar_perfil' %}">Editar Perfil</a>
{% endblock contenido %}